.menu ul {
  display:inline;
}
.menu{
  display:inline;
}
.header {
  background-color:burlywood;
}
.menu ul li {
   display:inline;
    padding:10px 20px;
}

.logo {
  padding:15px 22px;
  display:inline-block;
}

.footer {
  background-color: brown;
  color:white;
  height:80px;
}

.page{
  height:600px;
}